@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isDashboard"] = true;
}

@*Summary Widgets*@
<div class="row mb-4">

    <div class="col-md-3">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-credit-card fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Expense</span>
                <h2 class="display-10 fw-bold">@ViewBag.TotalExpense</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="d-flex flex-row widget summary balance">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-vault fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Balance</span>
                <h2 class="display-10 fw-bold">@ViewBag.Balance</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="d-flex flex-row widget summary Expense Limit">
            <div class="d-flex flex-column justify-content-center p-5">
                 <i class="fa-solid fa-sack-dollar fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Expense Limit</span>
                <h2 class="display-10 fw-bold">@ViewBag.ExpenseLimit</h2>
                <h2 class="display-10 fw-bold">₹1000</h2>
            </div>
        </div>
    </div>
</div>


@*Doughnut and Spline Chart*@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Expense By Category</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DoughnutChartData"
                                           xName="categoryTitleWithIcon" yName="amount"
                                           innerRadius="60%" legendShape="Circle"
                                           palettes=@(new string[]{"#0e8d76","#a4b219","#cb9b00","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})>
                        <e-accumulationseries-datalabel name="formattedAmount" visible></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>
  
    <div class="col-md-6">
        <div class="widget">
            <div class="p-5">
                <h5 class="fw-bold" style="margin-left: 11.8rem;margin-top: -2rem;">My Categories</h5>
            </div>
            <div class="px-4 pb-4" style="margin-top: -3rem;">
                 <ejs-grid id="categories" style="width: auto;margin-left:-30.6rem;margin-right:-1.1rem;margin-top:-8.2rem;"
                 dataSource="@ViewBag.MyCategories" gridLines="None">
            <e-grid-columns>
                <e-grid-column headerText="Category" field="TitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="150px"></e-grid-column>
                        <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
        
        </div>
    </div>
</div>
</div>
<script id="typeColumnTemplate" type="text/x-template">
    ${if(Type=="Income")}
        <span class="badge bg-success">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>
<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Category/AddOrEdit/${CategoryId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Category/Delete/${CategoryId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>



    


